{#
/**
 * @file
 * Theme override for the Social Posts Block.
 */
#}
<div{{ attributes }}>
  <div>{{ platform }}</div>
  <div><a href="{{ handle.url }}" class="handle" target="_blank">{{ handle.title }}</a></div>
  <div>{{ description }}</div>
  {# <div class="paw-path-left" style="background-image: url('{{ theme_path }}/images/food-bowl.png');"></div>
  <div class="paw-path-right" style="background-image: url('{{ theme_path }}/images/food-bowl.png');"></div> #}
</div>
